* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1f6ff;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #7d9dff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #000000;
}

strong {
    color: #1f06ff;
    font-weight: bold;
}